.App {
  text-align: center;
  overflow-x: auto;
}

.Match {
  list-style-type: none;
}

.MatchList {
  padding-bottom: 4px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Logosize {
  width: 40%;
  height: auto;
  padding-top: 20px;
}

.MatchText {
  padding-bottom: 5px;
  display: inline;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.header_style {
  font-size: 3vw;
  overflow: hidden;
  white-space: nowrap;
}
